[MASTER]

disable=missing-module-docstring,
        invalid-name,
        no-member,
        line-too-long,
        too-few-public-methods,
        too-many-ancestors,
        duplicate-code,

enable = useless-suppression
