[MASTER]

disable=missing-module-docstring,
        invalid-name,
        no-member,
        line-too-long,
        unused-argument,
        too-few-public-methods,
        too-many-ancestors,
        duplicate-code,
        missing-function-docstring,
        consider-using-with,
        arguments-differ,
        empty-docstring,
        raise-missing-from,
        property-with-parameters

enable = useless-suppression
