<VirtualHost *:80>
        DocumentRoot /var/www/html/
        ServerName example.com
        RewriteEngine on
        RewriteCond %{REQUEST_URI} !^\/\.well-known\/
        RewriteRule (.*) https://example.com$1 [L,R=301]
</VirtualHost>

<VirtualHost *:443>
        ServerName example.com:443
        DocumentRoot /var/www/html

        SSLEngine On
        SSLCertificateFile /etc/letsencrypt/live/example.com/cert.pem
        SSLCertificateChainFile /etc/letsencrypt/live/example.com/chain.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/example.com/privkey.pem

        ProxyPass /.well-known/ !
        ProxyPass /static/ !
        ProxyPass /media/ !
        ProxyPass "/"  "http://localhost:8080/"
        ProxyPassReverse "/"  "http://localhost:8080/"
</VirtualHost>

