[Unit]
Description=Vocabulary Trainer
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lunes-cms runserver 8080
User=lunes-cms

[Install]
WantedBy=multi-user.target

