{% extends "admin/generate_audio_base.html" %}
{% load i18n %}

{% block audio_title %}Generate Audio for "{{ word_instance.word }}"{% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item"><a href="{% url "admin:cmsv2_word_changelist" %}">{% translate "Words" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url "admin:cmsv2_word_change" word_instance.pk %}">{{ word_instance.word }}</a></li>
    <li class="breadcrumb-item active">{% trans "Generate Audio" %}</li>
{% endblock %}

{% block audio_info %}
    <strong>Word Text:</strong> {{ word_text }}
{% endblock %}

{% block store_url %}{% url "cmsv2:word_store_generated_audio_permanently" word_instance.pk %}{% endblock %}

{% block store_button_text %}Store to Audio Field{% endblock %}

{% block back_buttons %}
    <a href="{% url "admin:cmsv2_word_change" word_instance.pk %}" class="button">Back to Edit View</a>
{% endblock %}

{% block generate_url %}{% url "cmsv2:word_generate_audio_via_openai" %}{% endblock %}

{% block text_field_name %}word_text{% endblock %}

{% block text_value %}"{{ word_text }}"{% endblock %}