/* Additional CSS for styling the feedback table */

table {
/* Additional CSS for styling the feedback table */
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  min-width: 1000px;
}


.table-striped tbody tr:nth-of-type(odd){
  background-color: #ffffff;
}

thead th .text{
  color: #001f3f;
}

thead tr {
  background-color: #e2e1e1;
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {

  .table-striped tbody tr:nth-of-type(odd){
    background-color: #000e38;
  
  }

  .table-striped thead tr {
    background-color: #47476e;
    font-weight: bold;
  }
  
  thead th .text {
    color: #8ba6fa;
  }

  tbody {
    color: #8ba6fa;
  }

}

/* Checkbox column */
thead th:nth-child(1) {
  width: 3%;
}

/* Comment column */
thead th:nth-child(2) {
  width: 25%;
}

/* Related object column */
thead th:nth-child(3) {
  width: 19%;
}

/* Related object type column */
thead th:nth-child(4) {
  width: 15%;
}

/* Submission date column */
thead th:nth-child(5) {
  width: 19%;
}

/* Read by column */
thead th:nth-child(6) {
  width: 19%;
}

/* Truncate long comments and content object links */
.field-comment a,
.field-content_object_link a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
