{% extends "./_base.html" %}

{% load i18n %}

{% block title %}{% translate "Change password" %}{% endblock %}

{% block content %}
    <h1 class="page-title">{% translate "Change password" %}</h1>
    <div class="card account">
        <p class="account__message">{% translate "Your password was changed." %}</p>
        <div class="account__actions">
            <a class="button button--skip" href="{% url 'expert_access:index' %}">
                {% translate "Startseite" %}
            </a>
        </div>
    </div>
{% endblock %}
