{% load static %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'images/logo.svg' %}">
        <title>Lunes App - Bild beitragen</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
              rel="stylesheet">
    </head>
    <body>
        Hello Word
    </body>
</html>
